.application.dialog.pf1-v2 {
  .dialog-content.standard-form {
    gap: 0;

    .form-fields {
      > i {
        flex: 0 1.25rem;
      }
    }
  }

  .standard-form {
    .form-footer {
      > button {
        min-width: unset; // Remove Foundry insistence on 180px width
      }
    }
  }
}
