// TODO: Formalize these better
// These ensure stylings seen in v12 and prior persist
#chat,
.application.chat-popout .chat-message {
  .message-content > .pf1.chat-card {
    table {
      --table-background-color: transparent;

      thead {
        --table-header-bg-color: rgba(0, 0, 0, 0.5);
        --table-header-text-color: white;
        --table-header-border-color: #666;

        th {
          text-shadow:
            0 0 3px var(--color-shadow-dark),
            1px 1px var(--color-shadow-dark);
          line-height: 1.2;
          font-size: var(--font-size-12);
        }
      }
    }
  }

  .pf1 {
    .item-description {
      // Define missing color from v12 and prior for v13
      --color-underline-header: #782e22;

      // Reduce Foundry v13's humongous header fonts to something reasonable and re-add underlines
      :is(h1, h2, h3, h4) {
        font-weight: normal;
        margin: 0 0 0.5rem;

        border-bottom: 1px solid var(--color-underline-header);

        font-family: var(--font-primary);
      }

      h1 {
        font-size: 2em;
        border-width: 2px;
      }
      h2 {
        font-size: 1.5em;
      }
      h3 {
        font-size: 1.25em;
      }
      h4 {
        font-size: 1.1em;
      }
    }
  }
}
