.application.pf1-v2.migration {
  min-width: 360px;

  .progress-tracking {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.7em;
  }

  .window-content {
    .categories {
      display: grid;
      grid-template-columns: 5fr 2em 1em 2em 2em 2em 2em 2em;
      grid-auto-rows: min-content;
      gap: 3px 0.5em;

      .category {
        display: contents;

        h4 {
          grid-column: 1 / -1;
          margin: 0;
          display: flex;
          justify-content: space-between;

          border: none;

          .current {
            font-size: var(--font-size-11);
            align-self: flex-end;
            font-family: var(--font-body);
            font-variant: none;
          }
        }

        progress {
          width: 100%;
          grid-column: 1 / -1;
        }

        .empty {
          grid-column: span 6;
        }

        .value {
          text-align: right;

          &.has-details {
            cursor: pointer;
          }
        }

        .delimiter {
          text-align: center;
        }

        .status {
          text-align: center;
          &.completed {
            color: var(--pf1-migration-success);
          }
        }

        &.item {
          .processed {
            color: var(--pf1-migration-success);
            font-weight: var(--pf1-status-weight);
          }

          .errors,
          .invalid {
            &.found {
              color: var(--pf1-migration-failure);
              font-weight: var(--pf1-status-weight);
            }
          }

          a[data-action] {
            text-decoration: none;
          }
        }
      }
    }

    .status {
      text-align: center;
      border: none;
      margin: 0;

      &.completed {
        > i {
          color: var(--pf1-migration-success);
        }

        &.with-errors {
          > i {
            color: var(--pf1-migration-success-partial);
          }
        }
      }
    }

    :is(.migration-info, .error-info, .refresh-required) {
      text-align: center;
    }

    .error-info {
      text-shadow: 0 0 3px rgba(255, 0, 0, 0.3);

      .detail:not(:last-of-type) {
        &:after {
          content: ", ";
        }
      }
    }

    .refresh-required {
      border: 1px solid black;
      border-radius: 0.5rem;
      padding: 0.3rem;

      background-color: var(--pf1-migration-warning-bg);

      > .info {
        font-weight: var(--pf1-status-weight);
      }

      > button {
        border-radius: 0.5rem;
      }
    }
  }
}

.theme-light .application.pf1-v2.migration {
  --pf1-migration-success: darkgreen;
  --pf1-migration-success-partial: orangered;
  --pf1-migration-failure: darkred;
  --pf1-status-weight: bold;
  --pf1-migration-warning-bg: rgba(255, 166, 0, 0.2);
}

.theme-dark .application.pf1-v2.migration {
  --pf1-migration-success: lawngreen;
  --pf1-migration-success-partial: darkorange;
  --pf1-migration-failure: red;
  --pf1-status-weight: normal;
  --pf1-migration-warning-bg: rgba(255, 196, 0, 0.25);
}
